#### Importando bibliotecas

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

#### Carregando dados

In [49]:
path = os.path.join('d:' + os.sep, 'Users', 'mateu', 'Downloads', 'VendasTesouroDireto (1).json')
values = pd.read_json(path)
df_data = pd.DataFrame(values)
df_data['PU'] = df_data['PU'].str.replace(',', '.')
df_data['Quantidade'] = df_data['Quantidade'].str.replace(',', '.')
df_data['Valor'] = df_data['Valor'].str.replace(',', '.')
df_data['PU'] = pd.to_numeric(df_data['PU'], errors='coerce')
df_data['Quantidade'] = pd.to_numeric(df_data['Quantidade'], errors='coerce')
df_data['Valor'] = pd.to_numeric(df_data['Valor'], errors='coerce')
df_data['Vencimento_do_Titulo'] = pd.to_datetime(df_data['Vencimento_do_Titulo'])
df_data['Data_Venda'] = pd.to_datetime(df_data['Data_Venda'])
df_data

,Tipo_Titulo,Vencimento_do_Titulo,Data_Venda,PU,Quantidade,Valor
0,Tesouro IPCA+ com Juros Semestrais,2012-08-15,2008-05-12,1655.206735,38.6,63890.97
1,Tesouro IPCA+ com Juros Semestrais,2017-05-15,2008-05-12,1480.154343,571.0,845168.12
2,Tesouro Prefixado com Juros Semestrais,2014-01-01,2008-05-12,870.303177,283.2,246469.85
3,Tesouro Prefixado com Juros Semestrais,2012-01-01,2008-05-12,936.285273,29.2,27339.52
4,Tesouro Prefixado com Juros Semestrais,2017-01-01,2008-05-12,808.587250,491.8,397663.20
...,...,...,...,...,...,...
66164,Tesouro Prefixado com Juros Semestrais,2010-01-01,2008-08-27,960.339019,110.2,105829.35
66165,Tesouro IPCA+ com Juros Semestrais,2010-08-15,2008-08-27,1672.613421,271.2,453612.75
66166,Tesouro IPCA+ com Juros Semestrais,2011-05-15,2008-08-27,1677.517573,88.2,147957.04
66167,Tesouro Prefixado com Juros Semestrais,2010-01-07,2008-08-27,946.566666,0.6,567.93
66168,Tesouro Selic,2014-07-03,2008-08-27,3568.930215,93.0,331910.50

#### Visualizando dados

In [50]:
#plt.scatter(df_data['PU'],df_data['Valor'])

#plt.xlabel('PU')
#plt.ylabel('Valor')

#plt.show()

In [51]:
df_data.columns

Index(['Tipo_Titulo', 'Vencimento_do_Titulo', 'Data_Venda', 'PU', 'Quantidade',
       'Valor'],
      dtype='object')

In [53]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66169 entries, 0 to 66168
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Tipo_Titulo           66169 non-null  object
 1   Vencimento_do_Titulo  66169 non-null  datetime64[ns]
 2   Data_Venda            66169 non-null  datetime64[ns]
 3   PU                    66169 non-null  float64
 4   Quantidade            66169 non-null  float64
 5   Valor                 66169 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(1)
memory usage: 3.0+ MB

In [54]:
df_data['Data_Venda'].value_counts()

2008-02-04    28
2008-03-31    28
2008-03-24    28
2008-03-20    28
2008-02-22    28
              ..
2002-04-01     1
2016-02-09     1
2002-03-26     1
2002-06-27     1
2003-08-02     1
Name: Data_Venda, Length: 4842, dtype: int64

In [55]:
df_data['Vencimento_do_Titulo'] = pd.to_datetime(df_data['Vencimento_do_Titulo'], errors='coerce')
df_data['Vencimento_do_Titulo'].groupby(df_data['Vencimento_do_Titulo'].dt.year).count()

Vencimento_do_Titulo
2002     214
2003     289
2004     977
2005    1907
2006    2014
2007    2073
2008    3428
2009    3026
2010    3155
2011    2428
2012    2791
2013    1467
2014    1666
2015    4738
2016     490
2017    4410
2018     484
2019    1257
2020    1900
2021    2401
2022     254
2023    1627
2024    5723
2025    1470
2026    1711
2027     616
2029     481
2030     360
2031    1349
2035    6021
2040     359
2045    2894
2050    1828
2055     361
Name: Vencimento_do_Titulo, dtype: int64

In [58]:
df_data[df_data['Vencimento_do_Titulo'].dt.year == 2002].value_counts()
#df_data.loc[df_data['Vencimento_do_Titulo'].dt.year == 2002]

Tipo_Titulo        Vencimento_do_Titulo  Data_Venda  PU          Quantidade  Valor
Tesouro Prefixado  2002-02-10            2002-01-07  952.324951  206.0       196178.93    1
                   2002-05-06            2002-01-14  934.752631  7.6         7104.11      1
                                         2002-01-16  935.372115  41.6        38911.47     1
                                         2002-01-17  936.242653  49.0        45875.88     1
                                         2002-01-18  937.777226  119.0       111595.48    1
                                                                                         ..
                   2002-04-12            2002-04-19  896.277336  286.8       257052.33    1
                                         2002-04-22  896.925476  73.4        65834.32     1
                                         2002-04-23  897.182857  56.0        50242.23     1
                                         2002-04-24  896.921527  14.4        12915.66     1
                   2002-07-08            2002-11-01  903.692916  24.0        21688.62     1
Length: 214, dtype: int64

In [60]:
df_data[df_data['Vencimento_do_Titulo'].dt.year == 2002].value_counts().plot(kind='bar')